.card-prefecture-main{
    margin-top: 50px;
}

.title-main{
    margin-top: 20px;
}

.card-prefecture-main .card-prefecture-parent .thumbnail{

}

.card-prefecture-main .card-prefecture-parent .thumbnail div{
    margin-left: 40%;
}