.card-prefecture-main{
    margin-top: 50px;
}

.title-main{
    margin-top: 20px;
}

.card-prefecture-main .card-prefecture-parent .thumbnail{

}

.card-prefecture-main .card-prefecture-parent .thumbnail div{
    margin-left: 40%;
}

.img-index-layout{
    filter: blur(5px);
}

.img-index-layout:hover{
    filter: blur(0px);
}

.img-index-layout-shadow:hover{
    width: 95%;
}

.img-index-layout-shadow{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #eee;
    height: 170px;
    text-align: center;
}

.text-center{
    text-align: center;
}